.text {
  margin-top: 6px;
  width: rem(36px);
  height: rem(36px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--mantine-font-size-lg);
  font-weight: 400;
  border-radius: var(--mantine-radius-xl);
}

.selected {
  color: white;
  background-color: var(--mantine-color-blue-6);
  @mixin dark {
    background-color: var(--mantine-color-blue-8);
  }
  font-weight: 500;
}
