/* const useStyles = createStyles((theme) => ({
  text: {
    marginTop: 6,
    width: 36,
    height: 36,
    display: "flex",
    alignItems: "center",
    justifyContent: "center",
    fontSize: theme.fontSizes.lg,
    fontWeight: 400,
    borderRadius: theme.radius.xl,
  },
  selected: {
    color: "white",
    backgroundColor:
      theme.colorScheme === "dark"
        ? theme.colors.blue[8]
        : theme.colors.blue[6],
    fontWeight: 500,
  },
})); */

.text {
}
