.container {
  color: var(--mantine-color-blue-9);
  @mixin dark {
    color: var(--mantine-color-blue-0);
  }
  display: flex;
  position: absolute;
  width: 100%;
  border-radius: var(--mantine-radius-md);

  user-select: none;
  top: 0;
  border: 1px solid var(--mantine-color-blue-2);
  @mixin dark {
    border: 1px solid rgb(14, 63, 107);
  }
  background-color: var(--mantine-color-blue-1);
  @mixin dark {
    background-color: rgb(12, 50, 86);
  }
}

.active {
  background-color: var(--mantine-color-blue-2);
  @mixin dark {
    background-color: rgb(14, 63, 107);
  }
}
