.cardWrapper {
  background-color: var(--mantine-color-blue-0);
  @mixin dark {
    background-color: darken(var(--mantine-color-blue-9), 0.5);
  }
  padding-top: var(--mantine-spacing-xs);
  padding-bottom: var(--mantine-spacing-xs);
  padding-left: var(--mantine-spacing-sm);
  padding-right: var(--mantine-spacing-sm);
}

.container {
  display: flex;
  width: fit-content;
  align-items: center;
}

.colouredText {
  color: var(--mantine-color-blue-9);
  @mixin dark {
    color: var(--mantine-color-blue-2);
  }
}

.slotItemText {
  margin-left: 2px;
  color: var(--mantine-color-blue-8);
  @mixin dark {
    color: var(--mantine-color-blue-1);
  }
}
