.detailCard {
  margin-top: var(--mantine-spacing-md);
  padding: 10px 14px;
  display: flex;
  border-radius: var(--mantine-radius-sm);
  border: 1px solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
  gap: var(--mantine-spacing-lg);
}

.detailCardIconContainer {
  background-color: light-dark(
    var(--mantine-color-blue-1),
    var(--mantine-color-blue-9)
  );
  color: light-dark(var(--mantine-color-blue-5), var(--mantine-color-blue-2));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 42px 80px;
  border-radius: var(--mantine-radius-md);
  border: 1px solid
    light-dark(var(--mantine-color-blue-2), var(--mantine-color-blue-6));
}
